.title{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #FFCD00;
    margin-bottom: 25px;
}

.text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.btn{
    outline: none;
}

#filter-btn-box{
    text-align: center;
}

#btn{

    border: 3px solid #141540;
    border-radius: 25px;

    color: #141540;

    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

#sede-btn{
    
    border: 2px solid #141540;
    border-radius: 25px;

    color: #141540;

    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin:15px;*/
}

#rural-btn{
    
    border: 2px solid #141540;
    border-radius: 25px;

    color: #141540;

    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin: 15px;*/
}


#sede-btn:hover, .filter-btn.active{
    background-color: #FFCD00;
}

#rural-btn:hover {
    background-color: #FFCD00;
}



/**********************************************/
#card{
    text-align: center;
    border-radius: 25px;
    border: 3px solid;
    background-color: transparent;
    border: transparent;
    padding: 0;
}

.list-group{
    text-align: center;
    border-radius: 25px;
    border: 3px solid #828282;
    padding: 0;
}


#list-group-item-1{
    background-color: transparent; 
    border-bottom: 3px solid #828282;

}
#list-group-item-1 h2{
    color: #141540;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 150px;
    margin: 0;
}
#list-group-item-1 p{
    color: #141540;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0;
}


#list-group-item-2{
    background-color: transparent;
}
#list-group-item-2 p{
    
    color: #FFCD00;
    font-family: 'Palanquin Dark', sans-serif ;
    font-size: 45px;
    margin: 0;
}

#list-group-item-2 h4{
    font-size: 15px;
}

.asterisco{
    margin: 20px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

/*****************************************************/

