
/**/
*{ 
	margin: 0; 
	padding: 0; 
	/*overflow-x: hidden; */
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}




/*     header   */



.menu{
	padding-right: 30px;
}

.menu ul {
	list-style: none;
	position: relative;
	}
   
   .menu ul li {
	/*width: 150px;*/
	float: left;
	}
   
   .menu a {
	/*padding: 15px;*/
	display: block;
	text-decoration: none;
	text-align: center;
	/*background-color: #222;*/
	color: #fff;
	}
   
   .menu ul ul {
	position: absolute;
	visibility: hidden;
	}
   
   .menu ul li:hover ul {
	visibility: visible;
	}
   
   .menu a:hover {
	background-color: #f4f4f44b;
	color: #555;
	}
   
   .menu ul ul li {
	float: none;
	/*border-bottom: solid 1px #ccc;*/
	}
   
   .menu ul ul li a {
	/*background-color: #069;*/
	background-color: rgba(0, 0, 0, 0.364);
	}
   
   /*Criando o label */
	label[for=”bt_menu”]{
	padding: 5px;
	background-color: #222;
	color: #fff;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	height: 50px;
	}
   
   #bt_menu {
	display: none;
	}
   
   label[for=”bt_menu”]{
	display: none;
	}
   
   /*Deixando o Menu Responsivo */
   @media(max-width: 800px) {
   label[for=”bt_menu”] {
	display: block;
	}
	 
   #bt_menu:checked ~ .menu{
	/*margin-left: 0;*/
	}
	 
   .menu{
	margin-top: 5px;
	/*margin-left: -100%;*/
	transition: all .1s;
	}
	 
   .menu ul li {
	width: 100%;
	float: none;
	}
	 
   .menu ul ul {
	position: static;
	overflow: hidden;
	max-height: 0;
	transition: all 1s;
	}
	 
   .menu ul li:hover ul {
	height: auto;
	max-height: 200px;
	}

}

/* ************************************************************* */






/* row */
.row{	
	margin: 0;
}

.container{
	padding: 50px 0;
}


/*barra de navegação*/
header, .navbar{
	background-color: rgba(0, 0, 0, 0.364);
}

#nav-container{
	padding-top: 0;
	padding-bottom: 0;
}

#logo{
	width: 120px;
	margin-left: 20px;
}

.navbar-brand{
	padding: 0;
	color: white;
}

.navbar-brand-hover{
	color: white;
}
#navbar-links a{
	color: white;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem .8rem;
}

/* carousel Slider */
#container-fluid{
	padding:0;
}


#mainSlider .carousel-inner, #mainSlider .carousel-item {
	height: 100vh;
}

#mainSlider .carousel-caption{
	
	top: 30%;
}

#mainSlider .carousel-caption p{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: yellow;
}

#mainSlider .carousel-caption h2{
	
	font-family: 'Oswald', sans-serif;
	font-size: 80px;
	color: white;
}

.carousel-indicators .active{
	background-color: #027A00;
}

/* INFO ONE AREA INDEX */
.info-one-area{
	background-color: #F6F6F5;
}

.info-one-img{
	width: 450px;
	border-radius: 10px;
}

.info-one-title{
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
}
.info-one-text{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;

}

/*   NOSSOS SERVIÇOS INDEX */
.nossos-servicos-index{
	background-color: white;
	text-align: center;
}


.nossos-servicos-title{
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	color: #FFCD00;
}

/*  service one index */
.servico-one-index{
	background-color: #F6F6F5;
}
.service-one-title{
	font-family: 'Oswald', sans-serif;
	font-size: 38px;
	color: #141540;
	margin-bottom: 25px;
}
.service-one-text{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #141540;
	margin-bottom: 25px;

}

#btn-service-one{
	background-color: #141540;
	color: white;
	font-size: 20px;

}

/*servico two index */

.servico-two-index{
	background-color: white;

}	
.service-two-title{
	font-family: 'Oswald', sans-serif;
	font-size: 38px;
	color: #FFCD00;
	margin-bottom: 25px;
}
.service-two-text{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #141540;
	margin-bottom: 25px;
}
#btn-service-two{
	/*position: absolute;
	right: 0;*/
	background-color: #FFCD00;
	color: white;
	font-size: 20px;
}



/* nossos valores index */
.nossos-valores-index{
	background-color: #F6F6F5;
	text-align: center;

}

/*  nossos valores area */
.nossos-valores-area{
	background-color: white;

}
.nossos-valores-text{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	text-align: center;
}

/* fale conosco  orcamento */

.fale-conosco-orcamento{
	background-color: #027A00;
	margin: 0px;

}



.fale-conosco-orcamento i{
	color: white;
	font-size: 4rem;
	float: left;
	padding-right: 10px;
}

.fale-conosco-orcamento h3{
	margin-top: 1px;
	color: white;
	font-size: 3rem;
	font-family: 'Oswald', sans-serif;
}
.fale-conosco-orcamento p{
	font-size: 15px;
	color: white;
	text-align: justify;
}


/* ************************************************************** */
#container-title{
	padding-top: 70px;
	padding-bottom: 25px;
}

#container-camp{
	padding: 0;
}

/*   quem somos page */

/*
#img-quem-somos{
	width: 100%;
	height: 400px;
}
*/

#col-quem-somos{

	padding: 40px;
}
.quem-somos-index{
	background-color: #027A00;
	color: white;
	text-align: center;
}
.quem-somos-title{
	padding-top: 25px;
	padding-bottom: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;

}

/* ************************************************************** */

#mapaC iframe{
	border: none;
	width: 100%;
	height: 440px!important;

}

#container-mapa{
		
	padding: 0;
}

#box-mapa{
	
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0px;
}



/* ******************************************** */
/* DUVIAS FREQUENTES */
.panel-heading {

	border: 3px solid #C4C4C4;
	padding: 3px;
	padding-left: 10px;
	border-radius:25px;
	color: #C4C4C4;
	font-size: 18px;

    
}


.panel-body {
    background: white;
    display:none;

	border: 2px solid #C4C4C4;
	padding: 5px;
	margin-top: 2px;
    
}

.panel{
	margin: 10px;
}









/* ****************************************** */
/*   footer */

.footer{
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo_footer{
	width: 140px;
	margin-bottom: 5px;
}

.desenvolvedor{
	font-size: 15px;
	margin-top: -5px;
}


/* RESPONSIVE */
@media (max-width: 450px) {



	/*slider*/
	#mainSlider .carousel-inner, #mainSlider .carousel-item{
		height: auto;
	}

	#mainSlider .carousel-caption{
		top: 20%;
		
	}

	#mainSlider .carousel-caption h2{
		font-size: 60px;
		
	}

	#mainSlider .carousel-caption p{
		font-size: 25px ;
		
	}

	.nossos-servicos-title{
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		color: #FFCD00;
	}

	/* row */
.row{	
	margin: 0;
}

.container{
	padding: 25px 0;
}

	.info-one-title{
		margin-top: 25px;
		font-size: 40px;
	}

	.service-one-title, .service-two-title{
		font-size: 38px;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.title, .fale-conosco-title{
		margin-top: 25px;
	}

	.nossos-valores-text{		
		font-size: 18px;
		text-align: center;
	}

	.camp-btn{
		text-align: center;
	}
	
}